@charset "UTF-8";

* {
	box-sizing: border-box;
}
.content {
	width: 1080px;
	margin: 0px auto;
}

.row {
	display: flex;
    flex-wrap: wrap;
}

.grid {
	position: relative;
	float: left;
	width: 16%;
	height: 60px;
	padding: 15px;
	font-size: 12px;
	font-size: 14px;
}

.grid > .circle {
	position: absolute;
	top: 20px;
	left: -5px;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color: red;
}

.chart-title {
	position: relative;
	font-size: 17px;
	width: 150px;
	margin:0px auto;
	font-weight: 600;
	height: 40px;
	padding-left: 66px;
	line-height: 36px;
	box-sizing: border-box;
}

.chart-title > img {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 25px;
}

.radar-chart {
	float: left;
    width: 340px;
    height: 340px;
}