@charset "UTF-8";
/* 나눔 스퀘어 라운드 적용하기 */

/* 바차트 */
#tooltip {
	position: absolute;
	width: 50px;
	height: auto;
	padding: 10px;
	background-color: white;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	pointer-events: none;
}
#tooltip.hidden {
	display: none;
}
#tooltip p {
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
	line-height: 16px;
}
.indent{
	padding-left: 5px;
}

rect {
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
rect:hover{
	fill: orange;
}
.axis path {
	fill: none;
	stroke: #dcdcdc;
	shape-rendering: crispEdges;
}
.axis line {
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}
.axis text {
	font-family: sans-serif;
	font-size: 11px;
	fill: #787878;
}

* {
	box-sizing: border-box;
}
.content {
	width: 1080px;
	margin: 0px auto;
}

.row {
	display: flex;
	flex-wrap: wrap;
}

.row-space {
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-between;
}

.grid {
	position: relative;
	float: left;
	width: 16%;
	height: 60px;
	padding: 15px;
	font-size: 12px;
	font-size: 14px;
	box-sizing: border-box;
}

.grid > .circle {
	position: absolute;
	top: 18px;
	left: -5px;
	width: 9px;
	height: 9px;
	border-radius:50%;
	background-color: red;
}

.chart-wrapper {
	width:300px;
	padding: 60px 0px;
}

.chart-title {
	position: relative;
	font-size: 17px;
	width: 150px;
	margin:0px auto;
	font-weight: 600;
	height: 40px;
	padding-left: 66px;
	line-height: 36px;
	box-sizing: border-box;
}

.chart-title > img {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 25px;
}

.radar-chart {
	display: flex;
  	flex-flow: row nowrap;
  	justify-content: space-between;
}