@charset "UTF-8";

.content {
	width: 1024px;
	margin: 0px auto;
}

.row {
	display: flex;
    flex-wrap: wrap;
}

.grid {
	position: relative;
	float: left;
	width: 12%;
	height: 20px;
	padding: 15px;
	font-size: 12px;
}

.grid > .circle {
	position: absolute;
	top: 20px;
	left: -5px;
	width: 5px;
	height: 5px;
	border-radius:50%;
	background-color: red;
}

.radar-chart {
	float: left;
    width: 340px;
    height: 340px;
}